
.root{
    height: 100vh;
    display: flex;
}
.three-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}
.three-left{
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}
.three-right{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.three-image-left{
    object-fit: cover;
    width: 85%;
}

.three-text-green{
    color: rgb(0, 221, 9);
    font-weight: 500;
    font-size: 28px;
    margin-left: 10px;
}
.three-right-title{
    display: flex;
    align-items: center;
}
.three-right-intro-text{
    font-size: 54px;
    font-weight: 600;
}

.three-right-outer{
}
.des-container{
    width: 85%;
}

.three-right-inner{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}


.three-right-des{
    font-size: 1.1rem;
    font-weight: 300;
}
@media screen and (max-width: 480px) {

    .three-container{
        display: flex;
        flex-direction: column;
    }
    .three-left{
        flex:1;
        margin-bottom: 1rem;
    }
    .three-right{
        flex: 1;
        width: 100%;
    }



    .three-right-des{
        font-size: 18px;
        font-weight: 400;
    }

    .three-right-intro-text{
        font-size: 1.2rem;
        font-weight: 600;
    }

    .three-image-left{
        object-fit: cover;
        width: 100%;
        margin-left: 0%;
    }

    .three-right-outer{
        width: 100%;    
    }
    .root{
        height: auto;
        display: flex;
    }
}
