
.root{
    height: 100vh;
    display: flex;
}
.intro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}
.intro-left{
    display: flex;
    justify-content: center;
    flex-basis: 50%;
}
.intro-right{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.intro-image-left{
    object-fit: cover;
    width: 75%;
}

.intro-text-green{
    color: rgb(0, 221, 9);
    font-weight: 500;
    font-size: 28px;
    margin-left: 10px;
}
.intro-right-title{
    display: flex;
    align-items: center;
}
.intro-right-intro-text{
    font-size: 54px;
    font-weight: 600;
}

.intro-right-outer{
}

.intro-right-inner{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}


.intro-right-des{
    font-size: 22px;
    font-weight: 300;
}
.intro-medium-text{
    font-size: 18px;
    font-weight: 300;
}
.intro-small-text{
    font-size: 18px;
    font-weight: 300;
}

.intro-right{
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 10px;
  }
  
  .intro-right>form
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .intro-small-text{
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
  }
  .intro-meidium-text{
    font-size: 18px;
    font-weight: 300;
  }
  .intro-right .user{
    height: 51px;
    padding-left: 16px;
    outline: none;
    border-radius: 8px;
    font-size: 16px; 
    background: rgb(234, 234, 234);
    border: 2px solid  rgb(234, 234, 234);;  
  }
  .intro-right-container{
    display: flex;
    align-items: center;
  }
@media screen and (max-width: 480px) {

    .intro-right-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }

    .intro-container{
        display: flex;
        flex-direction: column;
    }
    .intro-left{
        flex:1;
        margin-bottom: 1rem;
    }
    .intro-right{
        flex: 1;
        width: 100%;
    }



    .intro-right-des{
        font-size: 18px;
        font-weight: 400;
    }

    .intro-right-intro-text{
        font-size: 1.2rem;
        font-weight: 600;
    }

    .intro-image-left{
        object-fit: cover;
        width: 100%;
        margin-left: 0%;
    }

    .intro-right-outer{
    }
    .root{
        height: auto;
        display: flex;
    }
}
