.footer {
  background-color: black;
  /* color: #fff; */
  /* padding: 1rem; */
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  
  /* padding: 0 15px; */
}

.form-group {
  margin-bottom: 1rem;
  
}

.btn-primary {
  /* background-color: #007bff; */
  /* border-color: #007bff; */
  /* color: #fff; */
}
.text_normal{
margin-bottom: 10px;
color: white;
font-size:  18px;
font-weight: 300;
}
.copyright {
  text-align: center;
  margin-top: 1rem;
}
.copyright{
  color: white;
  font-size:  18px;
  font-weight: 300;
}
.green-text{
  display: flex;
  font-size: 22px;
  font-weight: 500;
  color: rgb(0, 221, 9);
  margin-bottom: 25px;
}

.copyright-container{
  padding-bottom: 20px;
}

.line{
  /* height: 10; */
  margin-top: 100px;
}


.footer-top{
  padding-top: 30px;
}

.footer-title{

  margin-bottom: 10px;
color: white;
font-size:  16px;
font-weight: 600;
}
.button-container{
  width: 100%;
}

.f-right{
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 10px;
}

.f-right>form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.f-right .user{
  width: 15rem;
  height: 51px;
  padding-left: 16px;
  outline: none;
  border-radius: 8px;
  font-size: 16px; 
  background: rgb(234, 234, 234);
  border: 2px solid  rgb(234, 234, 234);;  
}

.footer-top{
  padding-bottom: 30px;
  align-items: center;
}
